[user]
  name = Hengkiardo
	email = hengki.sihombing@gmail.com
[push]
	default = upstream	
[color]
	ui = true
[core]
	editor = vim
[color]
	branch = auto
	diff = auto
	status = auto
		ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow 
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
  lg = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
  pom = push origin master
  ps = push origin
  pl = pull origin
  br = branch  
	b = branch
  co = checkout
  ch = checkout
  df = diff
  f = fetch
  l = log
  p = push
  cm = commit -m
  ca = commit -a
  cam = commit -am

[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
